<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgvMrkYMFsv3gzsMlvI88xc50605P_JsA</string>
	<key>GCM_SENDER_ID</key>
	<string>1063682545509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ngeureuyeuh.tzens</string>
	<key>PROJECT_ID</key>
	<string>t-zens</string>
	<key>STORAGE_BUCKET</key>
	<string>t-zens.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063682545509:ios:2bff0ddca44d716c0b338c</string>
</dict>
</plist>